@model EjercicioEF.MVC.Models.CategoriesView

<div>
    Nombre: @Html.TextBoxFor(d => d.Nombre)
    Descripción: @Html.TextBoxFor(d => d.Descripcion)
    <input type="submit" name="Guardar" value="Guardar" />
</div>
