@model EjercicioEF.MVC.Models.CategoriesView



<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <div>@Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })</div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        <div>@Html.TextBoxFor(d => d.Descripcion, new { @class = "form-control" })</div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" name="Guardar">Guardar</button>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    La categoría se agregó/actualizó correctamente
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</form>

